*{
    margin: 0;
    padding: 0;
}

section{
    margin: 20px;
}

.card{
    padding: 30px;
    width: 300px;
    right: 300px;
    float: left;
    perspective: 1000px;
}

.card .frente{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: all 0.5s linear;
}

.card .fundo{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.5s linear;
}
.fundo img{
    filter: grayscale(100%);
}
.card:hover .frente{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.card:hover .fundo{
    transform: rotateY(0deg);
    cursor: pointer;
}

h2{
    width: 100%;
    color: white;
    position: absolute;
    bottom: 120px;
    opacity: 0.7;
    text-align: center;
}
#face{
    background-color: blue;
}
#whats{
    background-color: green;
}
#disc{
    background-color: blue;
}
#you{
    background-color: red;
}

#pan{
    background-color: aquamarine;
}

#c2{
    margin-top: 15%;
}