.page{
    text-align: center;
    margin-left: 24%;
}

*{
    font-family: 'Times New Roman', sans-serif;
    font-size: 1rem;
    background-color: black;
    text-align: center;
    color: rgb(255, 0, 0);
}

nav{
    margin-top: 7%;
    background-color: black;
}

#subT{
    font-size: 2em;
    color: red;
    opacity: 0.9;
}

#link{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}