*{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

nav ul{
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1.5em;
    position: fixed;
    height: 2em;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    box-shadow: 0px 2px 10px rgba(255, 0, 0.7);
    padding-left: 1em;
}

a{
    text-decoration: none;
}

section{
    min-height: 100vh;
    padding-top: 2.5em;
    color: white;
}

#ini{
    background-image: url(images/imagem1.jpg);
    background-size: cover;
}

#ser{
    background-image: url(images/imagem2.jpg);
    background-size: cover;
}


#con{
    background-image: url(images/imagem3.jpg);
    background-size: cover;
}

#cur{
    background-image: url(images/imagem4.jpg);
    background-size: cover;
}


#sob{
    background-image: url(images/imagem5.jpg);
    background-size: cover;
}